# IDE
.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.class
.DS_Store

/.vs
target/
/_Deployment/lib
/_Deployment/product
/_Deployment/nativeLaunchers/RelLaunchWin/.vs/Rel/v15
/_Deployment/nativeLaunchers/RelLaunchWin/Rel/x64/Release/Rel.tlog
/_Deployment/nativeLaunchers/RelLaunchWin/Rel/x64/Release
/_Deployment/nativeLaunchers/RelLaunchWin/x64/Release/Rel.pdb
/_Deployment/nativeLaunchers/RelLaunchWin/x64/Release/Rel.ipdb
/_Deployment/nativeLaunchers/RelLaunchWin/x64/Release/Rel.iobj
/_Deployment/nativeLaunchers/Windows/Rel/x64/Debug
/_Deployment/nativeLaunchers/Windows/x64/Debug
/_Deployment/nativeLaunchers/Windows/Rel/x64/Release
/_Deployment/nativeLaunchers/Windows/x64/Release/Rel.pdb
/_Deployment/nativeLaunchers/Windows/x64/Release/Rel.ipdb
/_Deployment/nativeLaunchers/Windows/x64/Release/Rel.iobj
/_Deployment/nativeLaunchers/Windows/.vs/Rel/v15/ipch
/_Deployment/nativeLaunchers/Windows/.vs/Rel/v15
/_Deployment/nativeLaunchers/Windows/Rel/Rel.log
/_Deployment/nativeLaunchers/binaries/Windows/.vs/Rel/v15
