<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Rel"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://RelUI/org.reldb.relui.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/RelUI/css/default.css">
         </property>
         <property
               name="appName"
               value="Rel">
         </property>
         <property
               name="aboutText"
               value="This is the &apos;about&apos; text.">
         </property>
         <property
               name="aboutImage"
               value="icons/RelLogo128x128.png">
         </property>
         <property
               name="windowImages"
               value="icons/RelLogo16x16.png,icons/RelLogo32x32.png,icons/RelLogo48x48.png,icons/RelLogo64x64.png,icons/RelLogo128x128.png,icons/RelLogo256x256.png">
         </property>
      </product>
   </extension>

</plugin>
