<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Rel"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://RelUI/org.reldb.relui.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/RelUI/css/default.css">
         </property>
         <property
               name="appName"
               value="Rel">
         </property>
      </product>
   </extension>

</plugin>
